body {
    margin: 0;
    padding: 0;
    background-color: #f2f4f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-box > svg {
    min-width: 16px;
    min-height: 16px;
}

.search-box {
    width: 80%;
    border-radius: 50px;
    height: 45px;
    margin: 0px 10px;
    background-color: #f2f4f7;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.search {
    padding: 0px 20px;
    outline: none;
    border: none;
    font-size: medium;
    background: transparent;
}

header {
    background-color: white;
    height: 60px;
    width: 100vw;
    position: fixed;
    z-index: 997;
    display: flex;
    align-items: center;
    box-shadow: 3px 5px 11px -5px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 19px 0px rgba(0, 0, 0, 0.14);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 97vw;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.uls {
    list-style-type: none;
    cursor: pointer;
}

.home {
    color: #0866FF !important;
}

.fa-house, .uls-center {
    color: #6a6d71;
}

.right-icons {
    background-color: #f2f4f7;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.uls-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px !important;
}

.uls-center > li {
    width: 130px;
}


.uls-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.uls-right > li {
    font-size: 20px;
    margin: 0px 5px;
}

.left {
    width: 20vw;
}

.center {
    width: 35vw;
    max-width: 650px;
    min-width: 300px;
}

.right {
    width: 20vw;
    max-width: fit-content;
}

.profile-pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #f2f4f7;
    background-image: url("./assets/profile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.left-sec {
    width: 25vw;
    padding-top: 20px;
    font-weight: 600;
}

.left-sec-tiles {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px;
    cursor: pointer;
}

.left-sec-tiles:hover {
    background-color: #e6e8ea;
}

.left-sec-pics {
    margin-left: 1.5vw;
    margin-right: 10px;
}

main {
    padding-top: 60px;
    display: flex;
}

.middle-sec {
    width: 50vw;
}

.right-sec {
    width: 25vw;
}

.spon > span, .spon-1 > div > p {
    color: #6b6e72;
}

.right-sec > hr {
    color: #6b6e72;
}

.spon-1-img {
    background-image: url("./assets/spon_1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 150px !important;
    min-height: 150px !important;
    border-radius: 8px;
    border: 1px solid #dbdde0;
}

.spon-2-img {
    background-image: url("./assets/spon_2.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 150px !important;
    min-height: 150px !important;
    border-radius: 8px;
}

.spon-1, .spon-2 {
    display: flex;
    margin: 20px 0px;
}

.spon-1 > :last-child, .spon-2 > :last-child {
    margin-left: 15px;
    width: 50%;
}

.right-sec {
    margin-top: 20px;
}

.right-sec-tiles {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px;
}

.right-sec-tiles:hover {
    background-color: #e6e8ea;
}

.right-sec-pics {
    margin-right: 10px;
    background-image: url("./assets/contacts_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.aman-pic {
    background-image: url("./assets/contact_img_2.jpg");
}

.shoaib-pic {
    background-image: url("./assets/shoaib-pic.jpg");
}

.on-mind-sec {
    width: 75%;
    background-color: white;
    margin: 0 auto;
    height: fit-content;
    padding: 12px 16px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 3px 5px 11px -5px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 19px 0px rgba(0, 0, 0, 0.14);
}

.on-mind-sec > :last-child {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.on-mind-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 35px;
    border-radius: 4px;
}

.on-mind-btn:hover {
    background-color: #f2f4f7;
}

.on-mind-first {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.on-mind-search-box {
    width: 88%;
    border-radius: 50px;
    height: 40px;
    background-color: #f2f4f7;
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
}

.on-mind-search {
    outline: none;
    border: none;
    font-size: medium;
    background: transparent;
    width: 100%;
    cursor: pointer;
}

.my-story {
    width: 115px;
    height: 190px;
    background-color: white;
    position: relative;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.story-sec {
    width: 79%;
    margin: 0px auto;
    height: fit-content;
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.add-btn {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #0866FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3.5px solid white;
    left: 30%;
    bottom: 15%;
}

.my-story > :first-child {
    background-image: url("./assets/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 75%;
}

.create-story-div, .story-name-div {
    margin-top: 20px;
    font-size: 13px;
}

.other-story > :first-child {
    background-image: url("./assets/img_for_others_story.jpg");
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px -61px 67px -27px rgba(0,0,0,0.63) inset;
    -webkit-box-shadow: 1px -61px 67px -27px rgba(0,0,0,0.63) inset;
    -moz-box-shadow: 1px -61px 67px -27px rgba(0,0,0,0.63) inset;
}

.story-name-div {
    position: absolute;
    left: 10%;
    color: white;
    font-weight: 600;
    bottom: 10px;
}

.story-pic-btn {
    border: 3.5px solid #0866FF;
    top: 15px;
    left: 11px;
    background-image: url("./assets/shoaib-pic.jpg");
    background-size: cover;
}

.last-story > :first-child {
    width: 115px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: url("./assets/money.jpg");
}

.story-2 > :first-child {
    background-image: url("./assets/cat_img.jpg");
}

.story-btn-2 {
    background-image: url("./assets/contact_img_2.jpg");
}

.story-3 > :first-child {
    background-image: url("./assets/butterfly.jpg");
}

.story-btn-3 {
    background-image: url("./assets/contacts_img.jpg");
}

.story-btn-4 {
    background-image: url("./assets/heisenberg.jpg");
}

.post {
    margin: 0 auto;
    background-color: white;
    width: 79%;
    height: fit-content;
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 5px;
}

.post-pic {
    background-image: url("./assets/Education_Trukey_pic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post > :first-child {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-bottom: 0px;
}

.post > :first-child > :last-child > span {
    margin-right: 10px;
}

.post-desc {
    padding: 10px;
}

.post-btn {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.post-btn > div {
    width: 33.3333333333%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px 0px;
    border-radius: 5px;
}

.post-btn > div:hover {
    background-color: #e6e8ea;
}

.post-comment {
    display: flex;
    margin: 10px;
    gap: 10px;
}

.post-image {
    width: 100%;
    aspect-ratio: 4 / 5;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.post-2-image {
    background-image: url("./assets/turkey.webp");
}

.post-3-image {
    background-image: url("./assets/final_year_unemployed.jpg");
}

.post-pic-3 {
    background-image: url("https://scontent.fkhi11-2.fna.fbcdn.net/v/t39.30808-6/457559508_505252512201921_2257530396260558564_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=2285d6&_nc_ohc=f2FsM82bw-0Q7kNvwFKtbFA&_nc_oc=Adn9n913R8geXHcdfam62129lxMxIuUS3Nj-fL2nNikAtBUVsA9lYk_VsAPqj9JY89w&_nc_zt=23&_nc_ht=scontent.fkhi11-2.fna&_nc_gid=cUqTaHFTGOAXxmq7vjp0dQ&oh=00_AfcgadMXUfWsbp7RGtb7kFCISTfdUE0UyTiFDsier3tEEA&oe=690699BF");
}

.see-more-btn {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.see-more-btn:hover {
    text-decoration: underline;
}

.modal-for-post {
    position: fixed;
    z-index: 999;
    margin: auto !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    background-color: white;
    width: 500px !important;
    height: 430px !important;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
}

.modal-back {
    background-color: rgba(243, 244, 244, 0.453);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 998;
    margin: auto !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.modal-for-post > h3 {
    text-align: center;
}

.modal-image-sec {
    display: flex;
    gap: 10px;
    align-items: center;
}

#modal-desc {
    padding: 10px;
    outline: none;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.add-post-sec > span {
    display: flex;
    align-items: center;
}

.add-post-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.create-post-btn {
    color: white;
    place-content: center;
    font-weight: 700;
    font-size: 15px;
    background-color: #0866FF;
    border-radius: 10px;
    border: none;
    padding: 10px 0px;
    margin: 10px 0px;
    cursor: pointer;
}

.close-modal-btn {
    position: absolute;
    top: 28px;
    right: 28px;
    cursor: pointer;
}

/* SIGNUP FORM STYLING */

.signup-logo {
    height: 100px;
}

.main-signup {
    padding: 0px;
    flex-direction: column;
    align-items: center;
}

.signup-form {
    background-color: #fff;
    max-width: 432px;
    border-radius: 8px;
    box-shadow: 0px 0px 26px -12px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 26px -12px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 26px -12px rgba(0,0,0,0.3);
}

.signup-form > :first-child {
    font-size: 25px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    padding-top: 5px;
}

.signup-form > :nth-child(2) {
    color: #606770;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 8px;
}

.main-signup-form {
    border-top: 1px solid #DADDE1;
    padding: 16px;
}

.signup-user-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#first-name, #sur-name {
    border: 2px solid #DADDE1;
    padding: 11px;
    width: 42.5%;
    border-radius: 5px;
    font-size: 15px;
    line-height: 16px;
}

.signup-dob > div {
    display: flex;
    justify-content: space-between;
}

.signup-dob > p {
    color: #606770;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 2px;
}

#dob-day, #dob-month, #dob-year {
    border: 2px solid #DADDE1;
    padding: 9px 11px;
    width: 31.5%;
    border-radius: 5px;
    font-size: 15px;
    line-height: 16px;
}

.signup-gender > p {
    color: #606770;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 2px;
}

.signup-gender > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-gender > div > div {
    border: 2px solid #DADDE1;
    padding: 9px 11px;
    width: 25.5%;
    border-radius: 5px;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-email-pass {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
}

#email, #pass {
    display: block;
    max-width: 100%;
    border: 2px solid #DADDE1;
    padding: 9px 11px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 16px;
}


.signup-span {
    color: #385898;
    cursor: pointer;
}

.signup-span:hover {
    text-decoration: underline !important;
}

.main-signup-form > p {
    color: #777;
    font-size: 11.6px;
}

.signup-end {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup-btn {
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    padding: 0 62px;
    cursor: pointer;
}

#signup-a {
    padding: 10px 0px;
    color: #1877f2;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
}